$skyblue: #51d4ff;
$blue: #0044ab;
$lightblack: #333;
$blue_btn: #39adff;
$white: #fff;
$lightgray: #f2f1ef;
$darkgray: #777;
$gray: #666666;
$black: #000000;

$cont_bg: #f0f0f0;

$select_border: #aaa;
$gray_border: #ddd;

$footer_bg: #bef0fb;
$footer_border: #82a2cb;

$bright_blue01: #4de7dd;
$bright_blue02: #43c8d7;
$bright_blue03: #29b5e8;
$bright_blue04: #298ce9;


$white_opa90: rgba(255, 255, 255, 0.90);
$gradient1: linear-gradient(145deg, #37dcff 0%, #00BAFF 100%);
$gradient2: linear-gradient(160deg, #0092c8 0%, #0044ab 100%);
$gradient2_opa90: linear-gradient(160deg, rgba(0, 146, 200, 0.9) 0%, rgba(0, 68, 171, 0.9) 100%);


$font_20: 20px;
$font_14: 14px;